.DS_Store
/packages
/.vs
bin
obj
/App_Data/temp
/App_Data/Output
/App_Data/SignatureData
/src/GroupDocs.Editor.MVC.csproj.user
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
/src/node 
/GroupDocs.Editor.MVC.Test/GroupDocs.Editor.MVC.Test.csproj.user
/GroupDocs.Editor.MVC.Test/bin
/GroupDocs.Editor.MVC.Test/obj
/src/node_modules
src/DocumentSamples
!src/DocumentSamples/Editor/.gitkeep
src/Licenses
!src/Licenses/.gitkeep
/src/node
/src/client/package-lock.json