# Tool Runtime Dir
packages/
node_modules/

# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.zip
package-lock.json

# Resources
[Rr]esources/
![Rr]esources/.gitkeep

# Licenses
Licenses/
!Licenses/.gitkeep

# Document samples
DocumentSamples
!DocumentSamples/.gitkeep

# Git
!.gitkeep

# Finder in OSX
.DS_Store