@{
    GroupDocs.Editor.MVC.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Editor.MVC.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Editor for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="resources/angular/editor/dist/assets/css/all.min.css" />
</head>
<body>
    <gd-editor-angular-root></gd-editor-angular-root>
    <script type="text/javascript" src="resources/angular/editor/dist/runtime.js"></script>
    <script type="text/javascript" src="resources/angular/editor/dist/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="resources/angular/editor/dist/polyfills.js"></script>
    <script type="text/javascript" src="resources/angular/editor/dist/styles.js"></script>
    <script type="text/javascript" src="resources/angular/editor/dist/scripts.js"></script>    
    <script type="text/javascript" src="resources/angular/editor/dist/main.js"></script>
</body>
</html>